# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe

# PostgreSQL regression tests
/regression.diffs
/results/

# consul data
/.consul*-data/

# temp maintainer script garbage
import-cpr.sh
regression.out
